::-webkit-scrollbar {
  width: 4px;
  border: 2px solid blue;
}

::-webkit-scrollbar-button:single-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(229, 122, 229), rgb(253, 253, 128));
}

::-webkit-scrollbar-track {
  background: rgb(128, 128, 128);
}
#app{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10vw;  max-height: 100vh;
  max-width: 100vw;
}
