#formsContainer{
    width: 30vw;
    min-height: 60vh;
    margin: 20%;
    border-style:solid;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}
.formContainer{width: 90%;
    height:90%;
    margin: 5%;
    display: flex;
    flex-direction: column;}
.formTitle{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 5%;
}
#lColumn{
    width:100%;
    max-height: 95%;
    overflow: hidden;
   
}
button{
  position:relative;
  bottom: 17%;
  left:28%;
    width: 20%;
    height:5%;
    border-radius: 20px;
    background-color: rgb(107, 222, 107);
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #firstNext{
    margin-left: 15%;
  }